li {
  padding-top: 4px;
}
body {
  background-image: url(img/fondo9.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#aprod {
  background-color: rgb(221, 109, 34);
  color: white;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
}
.table {
  margin-top: 10px;
  text-align: center;
  background-color: transparent;
  color: white;
  font-size: 30px;
}
.mb-3 {
  margin-left: 19px !important;
}
.btn {
  margin-left: 19px;
  background-color: rgb(221, 109, 34);
}
.tit {
  margin-left: 19px;
}
.img1 {
  width: 40px;
  height: 40px;
}
.formulario {
  background-color: transparent;
  color: white;
  width: 30%;
  margin: 30px;
}
.navbar {
  background-color: rgb(221, 109, 34);
  text-decoration: black;
  text-align: center;
}

.carousel {
  margin: 30px;
  width: 420px;
  height: 420px;
}
.card {
  margin-left: 19px;
  width: 90%;
  background-color: transparent;
  font-size: 25px;
  flex-direction: row;
}
.card-text {
  font-size: 15px;
}
#boton {
  margin-left: 0px;
}
.tabprod {
  font-size: 20px;
}
.card-title {
  text-decoration: underline;
}
#bgr {
  background: black !important;
}
.icon {
  width: 50px;
  height: 50px;
}
.container-fluid {
  text-align: center;
}
.navbar-brand {
  margin-top: 10px;
}

.card w-50 {
  display: flex;
}
#carouselExampleCaptions {
  margin-left: 300px;
}

.navbar-nav {
  flex-direction: row;
}
.dropdown-menu {
  position: absolute;
}

.nav-link {
  padding-right: navbar-nav-link-padding-x;
  padding-left: navbar-nav-link-padding-x;
}

.navbar-nav-scroll {
  overflow: visible;
}

.navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.navbar-toggler {
  display: none;
}
